// Fonts
@font-face {
  font-weight: 400;
  font-family: 'NeoSansWeleda';
  src: url('../fonts/neosansweleda-regular.woff') format('woff');
}
@font-face {
  font-weight: 500;
  font-family: 'NeoSansWeleda';
  src: url('../fonts/neosansweleda-medium.woff') format('woff');
}
@font-face {
  font-weight: 700;
  font-family: 'NeoSansWeleda';
  src: url('../fonts/neosansweleda-bold.woff') format('woff');
}